<h1>New Wiki</h1>
 
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Make it SFW</li>
      <li>Focus on facts</li>
      <li>Keep the dream alive</li>
    </ul>
  </div>
  <%= render partial: 'form', locals: { wiki: @wiki } %>
  